
.mat-table {
  //margin: auto;
  background-color: aliceblue;

  overflow: auto;
  max-height: 600px;
}

/* .nomeColunas{


  //flex: 180px;
} */

.actions{
  display: flex;

  justify-content: center;

}

.actionColumn{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  //flex: 0 160px;

}

.actionColumnHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.loadingSpinner {
  padding: 25px;
  background: rgba($color: #bbebea6c, $alpha: 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryConteiner{
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 5px;
}
